<!-- templates/client_token.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Braintree Client Token</title>
    
</head>
<body class="bg-gray-200 p-8">
    <div class="max-w-full mx-auto bg-white p-8 rounded shadow-md overflow-auto break-words">
        <h2 class="text-2xl font-semibold mb-6">Braintree Client Token :</h2>
        <p>{{ client_token }}</p>
    </div>
</body>
</html>
