<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Braintree simple example</title>
</head>
<body class="bg-gray-200 p-8">
    <div class="max-w-md mx-auto bg-white p-8 rounded shadow-md">
        <a href="/transactions" class="bg-blue-500 text-white p-2 rounded">Braintree Transaction</a>
        <a href="/get_client_token" class="bg-blue-500 text-white p-2 rounded">Braintree Client Token</a>
    </div>
</body>
</html>
